<%- include("header") -%>


<div class="box" id="heading">
<h1>  ABOUT US </h1>
</div>

<div class="box item">
<center> WE ARE THE SERVANTS OF OUR OUR SPIRITUAL MASTERS.
  Hare Krishna
  </center>
</div>




  <%- include("footer") -%>
